.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #09d3ac;
}
 
body{
  background: #ffffff;
}

.slides {
  position: relative;
  height: 579px; /*The slider height*/
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: white;
}

.slick-dots li.slick-active button:before {
  font-size: 25px;
  color: #ffb035;
  opacity: 1;
}

/*slider button setting - START*/
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev::before {
  left: 5%;

}

.slides .slick-next {
  right: 5%;
}
/*slider button setting - FINISH*/

.slides-img {
  width: 100%;
  height: 579px; /*image height*/
  object-fit: cover;
}

.container container-csi{
  text-align: center;
}

.container container-2{
  text-align: right;
}

.container container-dedicate{
  background-color: #ffffff;
}

.container container-about{
  background-color: lightblue;
}

/*csi*/
.CSI-color{
  background: -webkit-linear-gradient(90deg, rgba(79,117,174,1) 0%, rgba(122,148,186,1)48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}