.body {
    background-color: #ffffff;
}

.container-himp {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 100px;
    background: -webkit-linear-gradient(90deg, rgba(79,117,174,1) 0%, rgba(19,82,175,1) 48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.himp-maha{
    text-align: center;
}

.card {
    height: 500px;
    border-radius: 0;
    padding-left: 0px;
    padding-right: 0px;
}

.fakultas-title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 2px 0 #808080;
    font-size: 3vh;
}

.set {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.heads-title {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 2px 0 #808080;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.bg {
    background: #08597D;
}

/* .selectionholder {
    height: 65px;
    width: 1138px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    border-style: solid;
    /* background-color: red; 
}*/

.himpholder {
    height: 750px;
    width: 1138px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* background-color: chartreuse; */
}

.logoholder {
    left: 6vh;
    top: 15.5%;
    height: 400px;
    width: 400px;
    padding-top: 3vh;
    position: relative;
    /* background-color: red; */
}

.logo {
    height: 70%;
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
    /* background-color: yellow; */
}

.descholder {
    left: 54vh;
    top: -41.5%;
    height: 400px;
    width: 500px;
    position: relative;
    /* background-color:blue; */
}

.titlebar {
    height: 30px;
    width: 80px;
    left: 2vh;
    top: 3.5%;
    position: relative;
    /* background-color: orange; */
}

.himpdesc {
    height: 320px;
    width: 465px;
    left: 2vh;
    top: 6.5%;
    position: relative;
    /* background-color: purple; */
}

.himptab {
    height: 60px;
    width: 60px;
    left: 110vh;
    top: 80%;
    /* background-color: red; */
    position: relative;
}

.tabtitle {
    height: 25px;
    width: 250px;
    right: -69.5%;
    top: 82%;
    position: relative;
    /* background-color: royalblue; */
}

.backbttn {
    height: 35px;
    width: 35px;
    left: 5vh;
    top: 5vh;
    position: absolute;
    /* background-color: royalblue; */
}

.sosmed-position {
    height: 35px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    /* background-color: seagreen; */

}

/* bg color ilkom */
.ilkomfilter {
    background: linear-gradient(180deg, #FFE482 0%, #FFEBCD 100%);
  }

/* bg color hmdkv */
.hmdkvfilter {
    background: linear-gradient(180deg, #FFA441 0%, #FFB058 20.31%, #FFEBCD 100%);
  }

/* bg color hmftv */
.hmftvfilter {
    background: linear-gradient(0.4deg, rgba(255, 255, 255, 0) -35.32%, #E94D50 58.85%, #7B4895 99.62%);
  }

/* bg color himars */
.himarsfilter {
    background: linear-gradient(0.4deg, rgba(255, 255, 255, 0) -35.32%, #1E968F 58.85%, #0D3E65 99.62%);
  }

/* bg color hmif */
.hmiffilter {
    background: linear-gradient(180deg, #FF7F00 0%, rgba(255, 173, 84, 0) 100%);
  }

/* bg color himfera */
.himferafilter {
    background: linear-gradient(180deg, #4788D3 1.04%, #C5DFFF 100%);
  }

/* bg color himsi */
.himsifilter {
    background: linear-gradient(180deg, #1354A2 1.04%, #A2CDFF 100%);
  }

/* bg color aces */
.acesfilter {
    background: linear-gradient(180deg, #FFA441 0%, #FFB058 20.31%, #FFEBCD 100%);
  }

/* bg color himtara */
.himtarafilter {
    background: linear-gradient(180deg, #2C3987 0%, #CFDCFC 100%);
  }

  /* bg color himma */
.himmafilter {
    background: linear-gradient(180deg, #D4DEE9 25%, #FFFFFF 100%);
  }

  /* bg color hmp */
.hmpfilter {
    background: linear-gradient(180.03deg, #70BAFF -27.17%, rgba(255, 255, 255, 0) 99.98%), #0E77A4;
  }

.logoholder-slick {
    height: 100%;
    width: 100%;
    position: absolute;
}

.logo-slick {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bar-slick {
    height: 100%;
    width: 100%;
    position: absolute;
  }

.tabs {
    height: 100%;
    width: 100%;
    position: relative;
    float: right;
}

.titles {
    height: 100%;
    position: relative;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.caption-position {
    position: relative;
    height: auto;
    width: 100%;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12.5px;
    overflow: hidden;
}

.caption-modif {
    color: black;
}

.caption-modif-white {
    color: white;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sosmed {
  border-radius: 3px;
  border-style: solid;
  padding: 5px;
  margin-right: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 13.5px;
}

.sosmed-white {
    border-radius: 3px;
    border-style: solid;
    padding: 5px;
    margin-right: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13.5px;
}

.sosmedicon {
  height: 100%;
  weight: 100%;
  position: absolute;
}

.himp-slider-container {
    width: 100%;
    height: auto; /*Tinggi Box luar Logo nya*/
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.himpsliderscss {
    width: 1138px;
    margin-left: auto;
    margin-right: auto;
}