.container-keg{
    padding-top: 55px;
    text-align: center;
    width: 100%;
    
}

.text-tab-pane{
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: xxx-large;
    color: #bcbcbc;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    background-image: linear-gradient(#ffb359,#ffffff);
    cursor: pointer;
  }

input[type=radio] {
	position: absolute;
    transform: scale(58);
    opacity: 0;
}


.react-tabs__tab--selected {
    /* border-color: #aaa; */
    color: white;
    border-radius: 5px 5px 0 0;
  }


  /* Line Slider*/
.ul{
    list-style: none;
}

.a{
    text-decoration: none;
}

/* .lSNext{
    background-image: url(../../public/assets/arrowgreykanan.png);
    width: 35px;
    height: 52px;
}

.lSAction > .lSNext{
    width: 35px;
    height: 52px;
}

.lSPrev{
    background-image: url(../../public/assets/arrowgreykiri.png);
    width: 35px;
    height: 52px;
}

.lSAction > .lSPrev{
    width: 35px;
    height: 52px;
} */


.container-slider-keg{
    width: 100%;
    height: 100vh; /*Tinggi Box luar Logo nya*/
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-slider-lso{
    width: 100%;
    height: 100vh; /*Tinggi Box luar Logo nya*/
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-keg{
    width: 1500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.box-lso{
    width: 1500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.info{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: left;

}

.info-lso{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: left;
    padding-right: 30px;
    margin-left: -88px;

}

.model-keg{
    margin-top: -20px;
    height: 400px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-box{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-dunar{
    margin-top: -20px;
    height: 300px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-medic{
    margin-top: 50px;
    height: 140px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-ustore{
    margin-top: -20px;
    height: 200px;
    width: 350px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-komcor{
    margin-top: -20px;
    height: 300px;
    width: 300px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-mrms{
    margin-top: -20px;
    height: 300px;
    width: 100px;
    max-height: 100%;
    max-width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.title{
    color: #ffb359;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
}

.title-lso{
    color: #ade2b2;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
    margin-left: -88px;
}

.keg-kiri{
    position: absolute;
    left: 0;
    top: 650px;
    transform: scale(1);
}

.asset-kanan{
    position: absolute;
    right: 0;
    top: 50px;
}

.lso-kiri{
    position: absolute;
    left: 0;
    top: 600px;
}

.col-edit {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    margin-right: 20px;
  }

  .col-edit-lso {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
}

.col-md-5 {
    flex: 0 0 38.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
}

@media (max-width:768px){
    .box-keg {
        width: 1500px;
        height: 50vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 100px 10px;
    }

    .box-lso {
        width: 1500px;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 2px 10px;
    }

    input[type=radio] {
        position: absolute;
        transform: scale(29);
        margin-left: -8px;
        margin-top: 35px;
        opacity: 0;
    }
    
    
    .info{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        text-align: left;
        /* padding-left: 20px; */
    
    }

    .info-lso{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-align: left;
        /* padding-left: 20px; */
    
    }
    
    .model-keg{
        margin-top: -20px;
        height: 210px;
        width: 210px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;

    }

    .model-lso-box{
        margin-top: 10px;
    height: 140px;
    width: 140px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: 80px;
    }

    .model-lso-dunar{
        margin-top: -20px;
        height: 160px;
        width: 220px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin-left: 23px;
    }

    .model-lso-medic{
        margin-top: 11px;
        height: 85px;
        width: 250px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin-left: 20px;
    }

    .model-lso-ustore{
        margin-top: -20px;
        height: 150px;
        width: 250px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin-left: 30px;
    }

    .model-lso-komcor{
        margin-top: -20px;
    height: 220px;
    width: 220px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: 65px;
    }
    
    .model-mrms{
        margin-top: -20px;
        height: 160px;
        width: 60px;
        max-height: 100%;
        max-width: 100%;
    }
    
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    
    .details p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }
    
    .title{
        color: #ffb359;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        text-align: left;
    }

    .title-lso{
        color: #ade2b2;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: left;
    }

    .col-edit {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
        text-align: left;
        width: 100%;
        margin-left: -45px;
        margin-right: 780px;
    }

    .col-md-5 {
        flex: 0 0 28.666667%;
        max-width: 41.6666666667%;
        width: 100%;
    }

    .keg-kiri{
        position: absolute;
        left: -69px;
        top: 422px;
        transform: scale(0.5);
    }
    
    .asset-kanan{
        position: absolute;
        top: 0px;
        transform: scale(0.55);
        right: -100px;
    }
    
    .lso-kiri{
        position: absolute;
        left: -69px;
        top: 422px;
        transform: scale(0.5);
    }

    .text-tab-pane{
        font-size: 35px;
      }
    
      .container-slider-keg{
        width: 100%;
        height: 60vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-edit-lso {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
        text-align: left;
        width: 100%;
        margin-left: -45px;
        margin-right: 745px;
    }

    .container-slider-lso {
        width: 100%;
        height: 80vh;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
    }


}

@media (max-width:480px){
    .box{
        width: 1500px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 20px 10px;
    }

    .box-keg{
        width: 1500px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 20px 10px;
    }

    .box-lso{
        width: 1500px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 20px 10px;
    }

    input[type=radio] {
        position: absolute;
        transform: scale(15);
        margin-left: 75px;
        margin-top: 100px;
        opacity: 0;
    }
    
    
    .info{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        text-align: left;
        margin-right: 970px;
        padding-right: 15px;
        padding-left: 30px;
    
    }

    .info-lso{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        text-align: left;
        margin-right: 970px;
        padding-right: 15px;
        padding-left: 0;
    
    }

    .col-md-5{
        width: 100%;
        flex: 0 0 22.5%;
        max-width: 41.6666666667%;
    }

    .col-edit {
        flex-basis: auto;
        flex-grow: 1;
        min-width: 0px;
        max-width: 100%;
        text-align: center;
        width: 100%;
        margin-right: 175px;
        margin-left: 0px;
    }

    .col-edit-lso {
        flex-basis: auto;
        flex-grow: 1;
        min-width: 0px;
        max-width: 100%;
        text-align: center;
        width: 100%;
        margin-right: 210px;
        margin-top: -25px;
        margin-left: 113px;
    }

    .model-keg{
        margin-top: 3px;
        height: 230px;
        width: 230px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin-left: 50px;
    }

    .model-lso-box{
        margin-top: 3px;
    height: 140px;
    width: 115px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    padding-bottom: 25px;
    }

    .model-lso-dunar{
        margin-top: 3px;
        height: 180px;
        width: 240px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-medic{
        margin-top: 3px;
        height: 90px;
        width: 250px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }

    .model-lso-ustore{
        margin-top: 3px;
        height: 150px;
        width: 270px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-komcor{
        margin-top: 3px;
        height: 200px;
        width: 185px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
        padding-bottom: 25px;
    }
    
    .model-mrms{
        margin-top: -16px;
        height: 200px;
        width: 60px;
        max-height: 100%;
        max-width: 100%;
        margin-top: 12px;
    }
    
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    
    .details p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }
    
    .title{
        color: #ffb359;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
        padding-left: 30px;
    }

    .title-lso{
        color: #ade2b2;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-right: 930px;
    }
    
    .text-tab-pane{
        display: inline-grid;
        font-size: 19px;
    }

    .keg-kiri{
        position: absolute;
        left: -82px;
        top: 195px;
        transform: scale(0.4);
    }
    
    .asset-kanan{
        position: absolute;
        right: -111px;
        top: -28px;
        transform : scale(0.5);
    }
    
    .lso-kiri{
        position: absolute;
        left: -82px;
        top: 195px;
        transform: scale(0.4);
    }

    .container-slider-keg{
        width: 100%;
        height: 60vh; /*Tinggi Box luar Logo nya*/
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-slider-lso{
        width: 100%;
        height: 85vh; /*Tinggi Box luar Logo nya*/
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -45px;
    }
}