.container-keg{
    padding-top: 55px;
    text-align: center;
    width: 100%;
    
}

.text-tab-pane{
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: xxx-large;
    color: #bcbcbc;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    background-image: linear-gradient(#ffb359,#ffffff);
    cursor: pointer;
  }

input[type=radio] {
	position: absolute;
    transform: scale(58);
    opacity: 0;
}


.react-tabs__tab--selected {
    /* border-color: #aaa; */
    color: white;
    border-radius: 5px 5px 0 0;
  }


  /* Line Slider*/
.ul{
    list-style: none;
}

.a{
    text-decoration: none;
}
/* 
.lSNext{
    background-image: url(../../public/assets/arrowgreykanan.png);
    width: 40px;
    height: 35px;
}

.lSAction > .lSNext{
    width: 40px;
    height: 35px;
}

.lSPrev{
    background-image: url(../../public/assets/arrowgreykiri.png);
    width: 35px;
    height: 35px;
}

.lSAction > .lSPrev{
    width: 35px;
    height: 35px;
} */

.container-slider-keg{
    width: 100%;
    height: 100vh; /*Tinggi Box luar Logo nya*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-keg{
    width: 1500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.info{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: left;

}

.info-lso{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: left;

}

.model-keg{
    margin-top: -20px;
    height: 400px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-box{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-dunar{
    margin-top: -20px;
    height: 300px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-medic{
    margin-top: 50px;
    height: 140px;
    width: 400px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-ustore{
    margin-top: -20px;
    height: 200px;
    width: 350px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-lso-komcor{
    margin-top: -20px;
    height: 300px;
    width: 300px;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.model-mrms{
    margin-top: -20px;
    height: 300px;
    width: 100px;
    max-height: 100%;
    max-width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.title{
    color: #ffb359;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
}

.title-lso{
    color: #ade2b2;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
}

.keg-kiri{
    position: relative;
    float: left;
    top: 800px;
}

@media (max-width:768px){
    .box{
        width: auto;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 20px 10px;
    }

    input[type=radio] {
        position: absolute;
        transform: scale(29);
        margin-left: -8px;
        margin-top: 35px;
        opacity: 0;
    }
    
    
    .info{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: left;
    
    }
    
    .model-keg{
        margin-top: -20px;
        height: 160px;
        width: 160px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;

    }

    .model-lso-box{
        margin-top: 30px;
        height: 200px;
        width: 200px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-dunar{
        margin-top: -20px;
        height: 300px;
        width: 400px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-medic{
        margin-top: -20px;
        height: 150px;
        width: 400px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-ustore{
        margin-top: -20px;
        height: 200px;
        width: 350px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-komcor{
        margin-top: -20px;
        height: 300px;
        width: 300px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }
    
    .model-mrms{
        margin-top: -20px;
        height: 120px;
        width: 40px;
        max-height: 100%;
        max-width: 100%;
    }
    
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    
    .details p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }
    
    .title{
        color: #ffb359;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
    }

    .title-lso{
        color: #ade2b2;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: left;
    }
}

@media (max-width:480px){
    .box{
        width: 1500px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 20px 10px;
    }

    input[type=radio] {
        position: absolute;
        transform: scale(17);
        margin-left: 85px;
        margin-top: 100px;
        opacity: 0;
    }
    
    
    .info{
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: left;
    
    }
    
    .model-keg{
        margin-top: -20px;
        height: 180px;
        width: 180px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-box{
        margin-top: 30px;
        height: 200px;
        width: 200px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-dunar{
        margin-top: -20px;
        height: 250px;
        width: 400px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-medic{
        margin-top: -20px;
        height: 150px;
        width: 400px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-ustore{
        margin-top: -20px;
        height: 200px;
        width: 350px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .model-lso-komcor{
        margin-top: -20px;
        height: 300px;
        width: 300px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
    }
    
    .model-mrms{
        margin-top: -20px;
        height: 300px;
        width: 100px;
        max-height: 100%;
        max-width: 100%;
    }
    
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    
    .details p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
    }
    
    .title{
        color: #ffb359;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        text-align: left;
    }

    .title-lso{
        color: #ade2b2;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        text-align: left;
    }
    
    .text-tab-pane{
        display: inline-grid;
        font-size: 19px;
    }
}