.container-keg{
    padding-top: 55px;
    text-align: center;
    width: 100%;
    height: 72vw;
}

.text-tab-pane{
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: xxx-large;
  color: #bcbcbc;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
  background-image: linear-gradient(#ffb359,#ffffff);
  cursor: pointer;
}

.react-tabs__tab--selected {
    /* border-color: #aaa; */
    color: white;
    border-radius: 5px 5px 0 0;
  }


  /* Line Slider*/
.ul{
    list-style: none;
}

.a{
    text-decoration: none;
}

.container-slider{
    width: 100%;
    height: 100vh; /*Tinggi Box luar Logo nya*/
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 350px;
    height: 500px;
    background-color: #81175a;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.box:hover{
    background-color: #a82578;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.box:hover .senbud{
    color: #ffffff;
    transition: all ease 0.5s;
}

.penjelasan{
    text-align: center;
    color: white;
}

.model{
    margin-top: -20px;
    height: 200px;
    width: 200px;
    max-height: 100%;
    max-width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.senbud{
    color: #500033;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}