.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #09d3ac;
}
 
body{
  background: #ffffff;
}

.slides {
  position: relative;
  height: 579px; /*The slider height*/
}

.filter:after {
  position: absolute;
  content:"";
  height:100%;
  width:100%;
  top:0;
  left:0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(255,255,255,0) 100%);
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
  font-size: white;
}

.slick-dots li.slick-active button:before {
  font-size: 25px;
  color: #ffb035;
  opacity: 1;
}

/*slider button setting - START*/
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev::before {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
/*slider button setting - FINISH*/

.slides-img {
  width: 100%;
  height: 579px; /*image height*/
  object-fit: cover;
}

.container-csi{
  background-image: url(../../public/assets/CSI.png); /*nanti ganti sama asset yg resolusinya lbh besar*/
}

.container-csi-text{
  text-align: center;
}
.container-2{
  background-image: url(../../public/assets/homeumnorange.png); /*nanti ganti sama asset yg resolusinya lbh besar*/
  width: 100%;
  height: 610px;
  background-repeat: no-repeat;
  background-size: 100%
}

.container-2-text{
  text-align: right;
}

.container-dedicate{
  background-color: #ffffff;
  background-image: url(../../public/assets/homepagededicatetocreate.png); /*nanti ganti sama asset yg resolusinya lbh besar*/
  width: 100%;
  height: 1081px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container-dedicate-judul{
  top: 35%;
  width: 100%;
  font-size: auto;
}

.container-dedicate-text{
  text-align: left;
  top: 65%;
  width: 100%;
}


/*Text di Dedicate*/
.dtc-1{
  text-align: center;
  background: -webkit-linear-gradient(90deg, rgba(79,117,174,1) 0%, rgba(19,82,175,1) 48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 15vw;
  font-size: 3vw;
}

.genx-1{
  text-align: center;
  background: -webkit-linear-gradient(90deg, rgba(255,207,0,0.7243350596910112) 0%, rgba(255,144,12,0.8086047226123596) 48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 15vw;
  font-size: 1.5vw;
}
/*text di dedicate*/    

/* .container-about{
  background-color: lightblue;
} */

/*csi*/
.CSI-color{
  background: -webkit-linear-gradient(90deg, rgba(79,117,174,1) 0%, rgba(122,148,186,1)48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-aboutus{
  text-align: justify;
  color: white;
  position: relative;
  top: 38vw;
  left: 5vw;
  font-size: 1.2vw;
}
