.himpunanslick {
    padding-bottom: 20vh;
    height: 700px;
    width: 1138px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

.filterslicks:after {
    position : absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
}

/* bg color ilkom */
.ilkomfilter {
    background: linear-gradient(180deg, #FFE482 0%, #FFEBCD 100%);
  }

/* bg color hmdkv */
.hmdkvfilter {
    background: linear-gradient(180deg, #FFA441 0%, #FFB058 20.31%, #FFEBCD 100%);
  }

/* bg color hmftv */
.hmftvfilter {
    background: linear-gradient(0.4deg, rgba(255, 255, 255, 0) -35.32%, #E94D50 58.85%, #7B4895 99.62%);
  }

/* bg color himars */
.himarsfilter {
    background: linear-gradient(0.4deg, rgba(255, 255, 255, 0) -35.32%, #1E968F 58.85%, #0D3E65 99.62%);
  }

/* bg color hmif */
.hmiffilter {
    background: linear-gradient(180deg, #FF7F00 0%, rgba(255, 173, 84, 0) 100%);
  }

/* bg color himfera */
.himferafilter {
    background: linear-gradient(180deg, #4788D3 1.04%, #C5DFFF 100%);
  }

/* bg color himsi */
.himsifilter {
    background: linear-gradient(180deg, #1354A2 1.04%, #A2CDFF 100%);
  }

/* bg color aces */
.acesfilter {
    background: linear-gradient(180deg, #FFA441 0%, #FFB058 20.31%, #FFEBCD 100%);
  }

/* bg color himtara */
.himtarafilter {
    background: linear-gradient(0.4deg, rgba(255, 255, 255, 0) -35.32%, #1E968F 58.85%, #0D3E65 99.62%);
  }

  /* bg color himma */
.himmafilter {
    background: linear-gradient(180.03deg, #70BAFF -27.17%, rgba(255, 255, 255, 0) 99.98%), #0E77A4;
  }

  /* bg color hmp */
.hmpfilter {
    background: linear-gradient(180.03deg, #70BAFF -27.17%, rgba(255, 255, 255, 0) 99.98%), #0E77A4;
  }

.logoholder-slick {
    height: 100%;
    width: 100%;
    position: absolute;
}

.logo-slick {
    height: 100%;
    width: 100%;
    position: absolute;
}

.bar-slick {
    height: 100%;
    width: 100%;
    position: absolute;
  }

.caption-position {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.caption-modif {
    color: black;
}

.insta-slick {
    left: 60%;
    top: 20%;
    position: absolute;
    width: 30%;
    z-index: 1;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

.line-slick {
    left: 65%;
    top: 20%;
    position: absolute;
    width: 30%;
    z-index: 1;
    overflow-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }